@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
body{
    background-image:linear-gradient(green,rgb(238, 224, 33),greenyellow)
}.tit{
    height:1080px;
    width:1080px;
    border:5px solid black
}
    
.title_1{
    font-family:"Dancing Script";
    font-size:xx-large;
    color:white;
    text-align:center;
    border:3px solid white;
    width:100%;
    hieght:20%;
}
.side{
    hieght:80%;
    width:20%;
    text-transform:capitalize;
    color:aliceblue;
    border:3px solid white;
    background-image:url("ti.jpg");
    background-size:cover;
    line-height:50px;
    padding:20px;
    font-family:"Dancing Script";
    font-size:large;
    position: absolute;
    right:0px;
}
.sec{
     border:3px solid white;
    background-image:url("center.jpg");
    background-size:cover;
    width:70%;
    height:80%;
    line-height:25px;
    text-align:left;
    padding-left:20%;}
    a{
    color:black;
    text-decoration:none;
    font-weight:bolder;
    font-size:large;
    }
    a:visited{
        background-color:brown;
        font-family:"Dancing Script";
    }
    a,a:active{
        color:blueviolet;
        font-size:large;

    }
a:hover{
color:brown;
font-style:italic;
}
.titl{
    background-image:conic-gradient(red,blue,green,yellow,orange,purple);
    border-radius:50%;
    width:30%;
    height:30%;
    margin:10%;
}