h1{
    color: rgb(20, 185, 14);
    text-align: right;
    font-size: 50px;
    font-variant: small-caps ;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h4{
    text-align: right;
}

.img1{
    width: 700px;
    height: 800px;
    border:2px solid white;
}
p{
    margin-left:15% ;
}
.he1{
padding-left:15%;
}